*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  --orange: rgb(229, 122, 88);
  --dark-blue: rgb(38, 97, 166);
  --dark-blue-code: 38, 97, 166;
  --brand-blue: rgb(34, 121, 228);

}



body {
  font-family: 'Sofia-Pro', 'Poppins', sans-serif; ;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-size: 100%;
  font-family: inherit;
  cursor: pointer;
}

.cases {
  padding: 2em 1em;
}

.case-options {
  max-width: 641px;
  margin: 0 auto;
}

.headline {
  margin-bottom: 0.75rem;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: -1px;
}

.sub-headline {
  font-size: 1.0625em;
}

.case-visual {
  position: relative;
  margin-top: 1.5rem;
}

.saving {
  position: absolute;
  background-color: #E57A58;
  color: #FFFFFF;
  width: 18.72%;
  height: 0;
  padding-bottom: 18.72%;
  border-radius: 50%;
  top: 0;
  right: 8.89%;
}

.saving__text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-size: min(2.7vw, 1.125em);
}

.saving__text--large {
  font-size: 1.55em;
}

.select__text {
  font-size: 1.0625em;
}

.select__buttons {
  display: grid;
  grid-template-columns: min-content min-content;
  justify-items: center;
  width: min-content;
  margin-left: auto;
  margin-right: auto;

}

.case-btn {
  width: 150px;
  max-width: 40vw;
  border-radius: 8px;
  padding: 0.6rem 0; /* 0.3125rem = 5px (button is 28px high - 2px for top and bottom borders, 16px for line height, leave 10px for the total padding) */
  margin: 1em 0.375rem; /* 1em = 13px (distance from bottom of wine image to top of buttons) 0.375rem = 6px (gives a gap of 12px between each button) */
  color: var(--dark-blue);
  background-color: transparent;
  border: var(--dark-blue) solid 1px;
  font-size: 0.8125rem; /* 0.8125rem = 13px */
  font-weight: 600;
  line-height: 1rem; /* set line height to 16px */
  display: block;
}

.case-btn.active {
  color: #FFFFFF;
  background-color: var(--dark-blue);
}

.case-btn:not(.active):hover {
  color: var(--orange);
  border-color: var(--orange);
}








.summary-card {
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  margin-top: 2em;
}

.best-deal__title {
  margin-bottom: 1.25em;
}


.best-deal__bullets {
  list-style: none;
  padding-left: 1.5em;
  border-bottom: rgb(220, 220, 220) solid 1px;
}

.best-deal__bullets li {
  position: relative;
  font-size: 0.9375em;
  line-height: 1.2em;
  margin-bottom: 1.2em;
}

.best-deal__bullets li::before {
  content: "✓";
  position: absolute;
  color: var(--brand-blue);
  font-size: 1rem;
  font-weight: 700;
  left: -1.5em;
}

.prices {
  margin: 1.1875em 0 1em;
}

.prices__item {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding: 0.125em 0;
}

.prices__item--strike {
  text-decoration: line-through;
}

.prices__item--highlight {
  color: var(--orange);
}

.prices__item--bold {
  font-weight: 700;
}

.add-to-basket {
  font-size: 1.0625em;
  color: #FFFFFF;
  background-color: var(--dark-blue);
  border: none;
  padding: 1rem 0;
  display: block;
  width: 100%;
  border-radius: 8px;
}

.add-to-basket:hover {
  background-color: rgba(var(--dark-blue-code), 0.9);
}


.summary-card,
.intro-text,
.select {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}




/* Increase the font size of the headline and set the buttons to sit 4 in a row */
@media (min-width: 576px) {
  .headline {
    font-size: 2rem;
  }

  .select__buttons {
    grid-template-columns: repeat(4, min-content);
  }

  .case-btn {
    width: 100px;
    padding: 0.3125rem 0;
  }

  .prices__item {
    font-size: 1.5em;
  }
}


/* Display flex to sit the two main elements of the top section side by side */
@media (min-width: 992px) {
  .cases {
    padding: 4em 2em;
    display: flex;
  }  

  .case-options {
    margin-right: 7%;
  }

  .headline {
    font-size: 2.25rem;
  }

  .sub-headline {
    max-width: 500px;
  }

  .intro-text,
  .select {
    max-width: initial;
  }

  .saving__text {
    font-size: min(calc((100vw - 4em - ((100vw - 4em) * 0.07) - 395px) * 0.027), 1.125em);
  }

  .summary-card {
    width: 395px;
    margin: 0 auto;
    flex: none; /* To keep the width at 395px */
  }

  
}


@media (min-width: 1200px) {
  .cases {
    max-width: 1178px;
    margin: 0 auto;
  }

  .select {
    display: flex;
    align-items: center;
  }
}


.wines-container {
  background-color: rgb(245, 245, 245);
  padding: 4em 0;
}

.wines {
  padding: 0 1em;
}

.wines__title {
  font-size: 1.5em;
  margin-bottom: 2.625rem;
}

.main-carousel {
  margin-left: -1em;
  margin-right: -1em;
}

.carousel-cell {
  width: min(450px, 90%);
  margin-right: calc(1.5em - max(10%, calc(100vw - 450px)));
  padding-left: max(10%, calc(100vw - 450px));
  height: max-content;
}

.carousel-cell:last-of-type {
  padding-right: max(10%, calc(100vw - 450px));
  width: calc( min(450px, 90%) + max(10%, calc(100vw - 450px)));
}

.flickity-button {
  background: transparent;
}

.flickity-prev-next-button {
  display: none;
}

@media (min-width: 576px) {
  .carousel-cell {
    width: max(320px, 40%);
    margin-right: calc(1.5em - 1em);
    padding-left: 1em;
    height: max-content;
  }

  .carousel-cell:last-of-type {
    padding-right: 1em;
    width: calc( max(320px, 40%) + 1em);
  }

  
}


@media (min-width: 768px) {

  .carousel-cell {
    width: calc(40% + 1em);
    padding-left: 1em;
  }

  .carousel-cell:last-of-type {
    padding-right: 1em;
    width: calc(40% + 1em + 1em);
  }  
}




@media (min-width: 992px) {
  
  .main-carousel {
    width: calc(100% - 80px);
    margin: 0 auto;
  }


  .carousel-cell,
  .carousel-cell:last-of-type {
    padding: 0;
    margin: 0 1.5em 0 0;
    width: calc((100% - 3em) / 3);
  }
  
  .flickity-button {
    background: transparent;
  }
  
  .flickity-prev-next-button {
    display: initial;
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .flickity-button:disabled {
    display: none;
  }
  
  .flickity-prev-next-button.previous {
    left: -3rem;
    top: 45%;
  }
  .flickity-prev-next-button.next {
    right: -3rem;
    top: 45%;
  }
  
  .flickity-page-dots {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main-carousel {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}




.image-container {
  border-radius: 18px;
  height: 0;
  padding-bottom: 71%;
  overflow: hidden;
  position: relative;
}

.image-container img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  
}

.quantity {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 1em;
  left: 1em;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.28);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity__text {
  color: #FFFFFF;
  font-size: 1.1875em;
}

.quantity__text--bold {
  font-weight: 700;
  padding-left: 0.05em;
}

.recommended {
  position: absolute;
  height: 85px;
  width: 85px;
  top: 1em;
  right: 1em;
  border-radius: 50%;
  background-color: var(--brand-blue);
  padding: 0.9em 0.8em 0;
}

.recommended__text {
  color: #ffffff;
  text-align: center;
}

.recommended__text--large {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: -0.67px;
  line-height: 1em;
}

.recommended__text--medium {
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: -0.39px; 
  
}

.recommended__text--small {
  font-size: 0.625em;
  line-height: 1.1em;
  letter-spacing: -0.28px;
}

.wine-card__title {
  font-size: 1.0625em;
  font-weight: 500;
  margin: 0.75rem 0;
}


.wine-details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}

.wine-details__item {
  display: flex;
  align-items: center;
}

.wine-details__item img {
  height: 1em;
  margin-right: 0.4em;
}

.wine-details__item p {
  font-size: 0.75em;
  letter-spacing: 0.4px;
}

.wine-card__description {
  font-size: 0.9375em;
  line-height: 1.33em;
  margin: 0.75em 0;
}

.wine-card__price {
  font-size: 1.0625em;
  font-weight: 500;
}


@media (min-width: 576px) {
  .wines__title {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .wines__title {
    font-size: 2.25rem;
  }
}



@media (min-width: 1200px) {
  .wines {
    max-width: 1178px;
    margin: 0 auto;
  }
}